body {
    background-color: #16181c;
    color: #b0bac5;

    display: flex;
    flex-direction: row;
    justify-content: center;

    font-family: 'Segoe UI', sans-serif;
}
body > div {
    flex-direction: column;
}

.mod_icon_container > img {
    width: 6rem;
    height: 6rem;
    border-radius: 1rem;
}

.panel {
    background-color: #26292f;
    border-radius: 1rem;
    padding: 1em;
    margin: 1em;
}

/* mod stuff */
.mod {
    display: flex;
    flex-direction: row;
}
.mod > div {
    flex-direction: column;
}

/* page select stuff */
#page-select {
    display: flex;
    justify-content: center;
}
#page-select button {
    background-color: #26292f;
    border-style: none;
    color: white;
    height: 32px;
    width: 32px;
    border-radius: 16px;
    margin: 0.25em;
}
#page-select button:hover {
    background-color: #494f58;
}
#page-select button:disabled {
    border-style:solid;
    border-width: 1px;
    border-color: #26292f;
    color: #26292f;
    background-color: #16181c;
}

/* checkbox picker thing */
#search-filter {
    display: flex;
    flex-direction: column;
}
#search-filter h3 {
    color: #ecf9fb;
    margin-top: 0;
    margin-bottom: 0;
}

/* make the category checkbox look good */
.checkbox_outer {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.25em;

    user-select: none;
}
.checkbox_outer label {
    display: flex;
    flex-direction: row;
}
.checkbox_icon {
    width: fit-content;
    margin: auto;
    padding-left: 0.25em;
    padding-right: 0.25em;
}
svg {
    width: 16px;
    height: 16px;
}

/* required to make checkbox text clicking work */
input[type="checkbox"] {
    pointer-events: none;   
}